<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ClubHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manage">Club Management</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Find Clubs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/clubs/forensic">Forensic Teams</a></li>
            <li><a class="dropdown-item" href="/clubs/stem">STEM Clubs</a></li>
            <li><a class="dropdown-item" href="/clubs/affinity">Affinity Groups</a></li>
            <li><a class="dropdown-item" href="/clubs/publication">Publications</a></li>
            <li><a class="dropdown-item" href="/clubs/council">Councils</a></li>
            <li><a class="dropdown-item" href="/clubs/misc">Misc.</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/clubs">All clubs</a></li>
          </ul>
        </li>
      </ul>

      <%if(user){%>
      <div class="me-1"><small>Signed in as <%=user._json.given_name%> <%=user._json.family_name%></small></div>
      <form action="/auth/logout" method="POST">
        <button type="submit" class="btn btn-danger ms-1 me-2" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .55rem;">Log out</button>
      </form>
      <img src="<%=user._json.picture%>" class="rounded-circle ripple" style="width: 35px;" alt="Avatar" />
    <%}else{%>
      <div class="me-4"><small>Not Signed In <a href="/login" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Sign In</a></small></div>
      <%}%>


    </div>
  </div>
</nav>
