<%-include('partials/header', {pagetitle: "Login"})-%>
<%-include('partials/navbar')-%>


<div class="alert alert-danger d-flex align-items-center w-50 mx-auto pt-0 pb-0 mt-4" role="alert">
  <div class="mx-auto">You tried to access a page that you aren't authorized to view. Please login below</div>
</div>


<div class="card text-center w-50 mx-auto mt-4">
  <div class="card-body pt-5 pb-5">
    <h6 class="text-center display-6">Sign in with Trinity Email</h6>
      <div class="mx-auto" style="width: 80%"><p class="text-center lead">You must be signed in to view your organizations, manage your clubs, and send budget requests.</p></div>
      <a class="btn btn-outline-dark" href="#" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </a>
  </div>
  <div class="card-footer"><p class="mt-0 mb-0"><small>You must use a valid @trinityschoolnyc.org email address</small></p></div>
</div>






<%-include('partials/footer')-%>
